/node_modules/
/lib/
/test/
custom-elements.json
# top level source
comment-thread.js
comment-thread.js.map
comment-thread.d.ts
comment-thread.d.ts.map
# only generated for size check
comment-thread.bundled.js

# Idea
.idea/